.soporte-semaforo{
  width: 20px;
  height: 150px;
  background-color: black;
}

.cuerpo-semaforo{
  width: 120px;
  height: 290px;
  background-color: black
  
}
.luz-roja{
  background: red;
}

.luz-amarilla{
  background: yellow;
}

.luz-verde{
  background: green;
}

.luz-roja, .luz-amarilla, .luz-verde{
  border-color: #FFFFFF;
  width: 90px;
  height: 90px;
  margin-top: 4px;
  opacity: 0.5;
}

.luz_encendida{
  box-shadow: 0px 0px 10px 10px #eef3ac;
  opacity: 1;
  filter: brightness(130%);
}

.btn, .btnPurple{
  width: 150px;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
}

.btnPurple{
  background: purple;
  color:#FFFFFF
}